<?xml version="1.0" ?>
<!--
/**
 * @author    Louis Bataillard <info@mobweb.ch>
 * @package    MobWeb_CustomBodyClasses
 * @copyright    Copyright (c) MobWeb GmbH (https://mobweb.ch)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="MobWeb_CustomBodyClasses"/>
</config>
